<h1>Listing items</h1>
<div class="row-fluid">
    <div class="span12">
        <table class="table table-striped">
            <tr>   
                <th>Folder</th>
                <th>Title</th>
                <th>Login</th>
                <th>URL</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            <% @items.each do |item| %>
                <tr>
                    <td><%= link_to item.folder.name, item.folder %></td>
                    <td><%= item.title %></td>
                    <td><%= item.login %></td>
                    <td><%= link_to item.login_url, item.login_url, target: "_blank" %></td>
                    <td>
                        <%= link_to item, class: "btn"  do%>
                            <i class="icon-eye-open"></i>
                        <% end %>
                    </td>
                    <td>
                        <%= link_to edit_item_path(item), class: "btn btn-warning" do %>
                            <i class="icon-white icon-edit"></i>
                        <% end %>
                    </td>
                    <td>
                        <%= link_to item, method: :delete, class: "btn btn-danger",
                            data: { confirm: "Are you sure you want to delete #{item.title}?" } do %>
                            <i class="icon-white icon-trash"></i>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>
</div>